body {
  background-color: rgb(156, 151, 151);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 60px;
  background-color: coral;
  color: darkolivegreen;
  font-weight: bold;
  border-bottom: solid 15px darkolivegreen;
}

header ul li {
  text-align: right;
  float: right;
  padding-left: 15px;
  margin: 20px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}

h1 {
  text-align: center;
  margin: 50px;
}
.flex-container h2 {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border: solid 20px coral;
  outline: solid darkolivegreen 20px;
  margin: auto;
  background-color: darkslategray;
  color: coral;
  font-size: larger;
  font-weight: bolder;
}

h3 {
  text-align: center;
  margin: 50px;
  font-size: small;
  font-weight: normal;
}

.contact {
  background-color: darkolivegreen;
  color: coral;
}

h4 {
  text-align: center;
  margin: 50px auto;
}

form {
  text-align: center;
}

input {
  width: 25%;
}

input #send {
  width: 20%;
  padding: 50px;
  color: coral;
  background-color: slategray;
}

footer {
  text-align: center;
  vertical-align: bottom;
  margin-top: -23px;
  color: darkolivegreen;
  background-color: coral;
  height: 60px;
}